body {
    background-color:#f5f5dc;
    border: 20px solid #939384;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

.menu-superior {
    position: absolute;
    top: 30px;
    right: 25px;
    display: flex;
    gap: 8px;
}

.boton-nav {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: sans-serif;
    transition: background 0.3s;
    transition: transform 0.3s ease;
}

.boton-nav {
    background-color: rgb(170, 170, 115);
}

.boton-nav:hover {
    background-color: #702082;
    transform: scale(1.1); 
    box-shadow: 0px 10px 10px rgba(93, 0, 255, 0.356)
}

.contenedor-proyectos {
    display: flex;
    flex-wrap: wrap;       /* Esto permite que las cards bajen si no caben */
    justify-content: center; /* Las centra si sobran espacios */
    gap: 30px;             /* Espacio entre cada card */
    padding: 20px;
    margin-top: 50px;
}

.proyecto-card {
    background-color: #fff9f0;
    border: 2px solid #5a2d82;
    padding: 20px;
    border-radius: 15px;
    width: 320px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    box-shadow: 10px 10px 0px #5a2d82;
    margin-top: 0;
    color: #702082;
    transition: transform 0.3s ease;
}

.proyecto-card:hover {
    transform: scale(1.1); 
    box-shadow: 10px 10px 10px rgba(94, 6, 245, 0.171)
}

.boton-proyecto {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    background-color: #702082;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition: transform 0.3s ease;
}

.boton-proyecto:hover {
    background-color: #b37bc2;
    transform: scale(1.1); 
    box-shadow: 0px 10px 10px rgba(94, 6, 245, 0.233)
}




@media (max-width: 768px) {
    .contenedor-proyectos {
        flex-direction: column; /* Fuerza la dirección vertical */
        align-items: center;    /* Centra las cards una debajo de otra */
    }

    .proyecto-card {
        width: 80%;            /* Ocupa el 90% del ancho del móvil */
        max-width: 350px;      /* Evita que se vea gigante en tablets */
        margin: 10px 0;        /* Espacio arriba y abajo */
        /* Borra cualquier 'position: absolute' o 'left/top' si los tenías */
    }
}
 


























