body {
    background-color:#151618;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

.menu-superior {
    position: absolute;
    top: 30px;
    right: 25px;
    display: flex;
    gap: 8px;
}

.boton-nav {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: sans-serif;
    transition: background 0.3s;
    transition: transform 0.9s ease;
}

.boton-nav {
    background-color: #7256cc;
}

.boton-nav:hover {
    background-color: #8066d6;
    transform: scale(1.1); 
    box-shadow: 0px 10px 10px rgba(93, 0, 255, 0.356)
}

.contenedor-proyectos {
    display: flex;
    flex-direction: column; /* ¡Esto es la clave! Uno debajo del otro */
    align-items: center;    /* Centra las tarjetas horizontalmente */
    gap: 50px;             /* Separa una tarjeta de la otra */
    padding: 40px 0;        /* Espacio arriba y abajo de todo el grupo */
    width: 100%;            /* Que ocupe todo el ancho disponible */
}

.proyecto-card {
    background-color: #151618;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid #9c4dff;
    border-radius: 15px;
    padding: 30px;
    width: 80%;
    color: #7A5CDB;             /* Ancho relativo */
    max-width: 500px;       /* No deja que se estire demasiado en PC */
    box-shadow: 0 0 20px rgba(156, 77, 255, 0.4);
    text-align: center;     /* Centra el texto de adentro */
    transition: transform 0.2s ease;
}

.proyecto-card:hover {
    transform: scale(1.1); 
    box-shadow: 10px 10px 10px rgba(94, 6, 245, 0.171)
}

.boton-proyecto {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    background-color: #7256cc;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition: transform 0.3s ease;
}

.boton-proyecto:hover {
    background-color: #846bd6;
    transform: scale(1.1); 
    box-shadow: 0px 10px 10px rgba(94, 6, 245, 0.233)
}




@media (max-width: 768px) {
    .contenedor-proyectos {
        flex-direction: column; /* Fuerza la dirección vertical */
        align-items: center;    /* Centra las cards una debajo de otra */
    }

    .proyecto-card {
        width: 50%;            /* Ocupa el 90% del ancho del móvil */
        max-width: 350px;      /* Evita que se vea gigante en tablets */
    }
    .menu-superior {
        position: relative;
        top: 0;
        right: 0;
        justify-content: center;
        margin-bottom: 20px;
        padding: 10px;
    }
}
 


























